@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
*{
  box-sizing: border-box;
}
ol{
  list-style-type: decimal;
}
ul{
  list-style-type: square;
}